@font-face {
    font-family: 'News Cycle';
    src: url('../fonts/news_cycle.ttf') format('truetype');
}

@font-face {
    font-family: 'Contrail One';
    src: url('../fonts/contrail_one.ttf') format('truetype');
}

body {
    color: #635959;
}

header {
    background-color: #635959;
    color: #efefef;
    padding: 20px 50px;
    font-family: 'News Cycle';
}

main {
    padding: 5px 10px;
}

h3, article h4 {
    color: #8c1018;
}

a {
    color: #314052;
}

header h1 {
    font-size: 4em;
}

main figure > figcaption {
    font-size: 0.75em;
    font-style: italic;
}

main figure > figcaption::before {
    content: 'Pictured above: ';
    font-weight: bold;
}

article > time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}

main > h3 {
    font-size: 2em;
}

